@import "./colors";
.feature {
  border-radius: 8px;
  padding: 2rem 3.2rem 3.2rem 3.2rem;
  background-color: $white;
  max-width: 35rem;
  box-shadow: 0 1.5rem 3rem -1.1rem rgba(131, 166, 210, 0.5);

  &-heading {
    color: $very-dark-blue;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &-description {
    line-height: 1.56;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.9px;
    color: $grayish-blue;
  }

  &-icon {
    margin-top: 4rem;
    margin-left: auto;
  }
}

.card-- {
  &1 {
    grid-area: 2 / 1 / 4 / 3;
    border-top: 5px solid $cyan;
  }

  &2 {
    grid-area: 1 / 3 / 3 / 5;
    border-top: 5px solid $red;
  }

  &3 {
    grid-area: 3 / 3 / 5 / 5;
    border-top: 5px solid $orange;
  }

  &4 {
    grid-area: 2 / 5 / 4 / 7;
    border-top: 5px solid $blue;
  }
}

@media only screen and (max-width: 61.25em) {
  .card-- {
    &1 {
      grid-area: 1;
      border-top: 5px solid $cyan;
    }

    &2 {
      grid-area: 2;
      border-top: 5px solid $red;
    }

    &3 {
      grid-area: 3;
      border-top: 5px solid $orange;
    }

    &4 {
      grid-area: 4;
      border-top: 5px solid $blue;
    }
  }
}
