@import "./colors";

.attribution {
  text-align: center;
  color: hsl(214, 17%, 51%);
  margin-top: 2.5rem;

  a:link,
  a:visited {
    text-decoration: none;
    color: hsl(217, 19%, 35%);
    font-weight: 700;
  }
}

@media only screen and (max-width: 65.6em) {
  .attribution {
    margin-top: 3rem;
  }
}
