*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

body {
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  background-color: hsl(0, 0%, 98%);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  padding: 8rem;
}
